{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block body %}
    <div class="form-container">
        <h2 class="form-signin-heading">Login</h2>
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
      {{ form_start(form) }}
    {{ form_row(form._username) }}
    {{ form_row(form._password) }}
    <button type="submit" class="btn btn-primary">Login <span class="fa fa-lock"></span></button>
{{ form_end(form) }}
   </div>
{% endblock %}


